body{font-family: "Poppins";}
:root{--white: #ffffff;--black: #000;--orange:#fd6e0a;}
.navbar-nav{gap: 40px;}
.header{position: sticky;top: 0;z-index: 1000;background: transparent;transition: background 0.3s ease, backdrop-filter 0.3s ease;}
.header.sticky {background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10 0px);box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}
.navbar-brand span {color: var(--orange);font-weight: 800;}
.navbar-brand {font-weight: 600;font-size: 24px;color: var(--black);}
.navbar-nav .nav-link {color: var(--black);font-weight: 500;}
.navbar-nav .nav-link.active {color: var(--orange);}
.navbar-toggler {border: none;}
.banner_section{background-image: url("/images/1banner.png");background-repeat: no-repeat;position: relative;}
.banner_section{height: 800px;}
/* .banner_section::after {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.7); z-index: 1; pointer-events: none; box-shadow: 0px 4px 10px rgba(119, 110, 110, 0.7);z-index: 0;} */
.banner_content{padding: 200px 0;}
.banner_content h1{color: var(--black);font-size: 55px;line-height: 60px;font-weight: 700;text-align: left;margin-bottom: 30px;}
.banner_content{display: flex;justify-content: center;align-items:flex-start;flex-direction: column;max-width: 900px;}
.banner_content p,.service_wrapper p{color: var(--black);font-weight: 400;margin-bottom: 30px;}
.primary_btn{background-color: transparent;border: 2px solid var(--black);color: var(--black);padding: 10px 30px;cursor: pointer;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;text-decoration: none;border-radius: 50px;}
.primary_btn:hover{background-color: transparent;border-color: var(--orange);color: var(--orange);}
.button_wrapper{display: flex;gap: 20px;}
.secondery_btn{background-color: var(--orange);border: 2px solid var(--white);color: var(--white);padding: 10px 30px;cursor: pointer;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;text-decoration: none;border-radius: 50px;}
.secondery_btn:hover{background-color: transparent; color: var(--orange);border-color: var(--orange);}
/* service section css start */
.our_service{padding: 100px 0;}
.service_wrapper h2{text-align: center;font-size: 40px;line-height: 50px;font-weight: 600;}
.service_wrapper{display: flex;justify-content: center;align-items: center;flex-direction: column;gap: 10px;}
.slider_content svg{background-color: transparent;padding: 10px;border-radius: 50px;border: 1px solid var(--orange);margin-bottom: 30px;}
.slider_content{box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.04);padding: 35px 25px;background-color: var(--white);text-align: center;}
.slider_content h4{font-size: 25px;line-height: 35px; margin-bottom: 20px;}
.progress {background-color: #d8d8d8;border-radius: 20px;position: relative;margin: 10px 0;height: 15px;width: 100%;}
.progress-done {background: var(--orange);box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;border-radius: 20px;color: #fff;display: flex;align-items: center;justify-content: center;height: 100%;width: 0;opacity: 0;transition: 1s ease 0.3s;}
.experience-info{display: flex;justify-content: space-between;}
.experience-info p{margin-bottom: 0;color: var(--black);font-weight: 600;}
.progress-done[data-done="95"] {width: 95%;opacity: 1;}
.progress-done[data-done="85"] { width: 85%;opacity: 1;}
.progress-done[data-done="90"] {width: 90%;opacity: 1;}
.progress-done[data-done="80"] { width: 80%;opacity: 1;}
.why_choose_me span{color: var(--orange);font-size: 16px;line-height: 20px; font-weight: 500;}
.why_choose_me h3{font-size: 30px; line-height: 40px;color: var(--black);margin-bottom: 50px;}
/* my work css start */
.my_wrok{padding: 120px 0;background-color: var(--black);}
.my_wrok_title span{color: var(--orange);font-size: 16px;line-height: 20px; font-weight: 500;}
.my_wrok_title h3{font-size: 30px; line-height: 40px;color: var(--white);margin-bottom: 50px;}
.right_img img{max-height: 350px;object-fit: cover;width: 100%;}
.image_wrapper{display: flex;flex-direction: column;gap: 30px;}
.image_wrapper img:nth-child(2){max-height: 300px; object-fit: cover;}
.image_wrapper img:first-child{max-height: 400px;object-fit: cover;}
.right_img_margin{margin-top: 30px;}
/* blog section css start */
.blog_section{padding: 120px 0;}
.blog_title span{color: var(--orange);font-size: 16px;line-height: 20px; font-weight: 500;}
.blog_title h3{font-size: 30px; line-height: 40px;color: var(--black);margin-bottom: 30px;}
.blog_detail{position: relative;}
.blog-date-cont{display: inline-block;position: absolute;left: 10px;top:10px; padding: 10px;background-color: var(--white);border-radius: 50px;}
.blog-date-cont p{margin-bottom: 0;}
.blog_detail span{color: var(--orange);font-size: 18px;font-weight: 600;}
.blog-info{padding-top: 20px;}
/* conatct us section start */
.contact_us_section{padding: 100px 0;}
.contact_form_wrapper h3{font-size: 30px; line-height: 40px;color: var(--black);margin-bottom: 10px;}
.contact_form_wrapper span{color: var(--orange);font-size: 16px;line-height: 20px; font-weight: 500;}
.contact_us_form{display: flex;flex-direction: column;gap: 10px;}
.contact_us_form input,.contact_us_form textarea{width: 100%; padding: 10px;text-decoration: none;background-color: #efeded;box-shadow: none;border: 0;}
.contact_us_form input:focus-visible,.contact_us_form textarea:focus-visible{border: none;outline: none;}
.submit_btn{display: inline-block;max-width: 150px;margin-top: 20px;}
.input_wrapper{display: flex;gap: 10px;}
/* footer section start */
.footer_section{padding: 20px 0;background-color: var(--black);}
.fooetr_logo a{color: var(--white);}
.fooetr_logo a:hover{color: var(--white);}
.footer_ul{display: flex;flex-direction: row;list-style: none;gap:30px;justify-content: end;margin-bottom: 0;}
.footer_ul li a{margin: 0;text-decoration: none;color: var(--white);}
.footer_row{align-items: center;}
.footer_ul li a:hover{color: var(--orange);}
@media(max-width:991px){
.header{background-color: var(--white);}
.navbar-nav{gap: 10px;}
.banner_content h1{font-size: 45px;line-height: 50px;}
.right_img{margin-top: 20px;}
 .contact_us_section{padding:50px 0;}
 .contact_form_wrapper{padding-top: 50px;}
 .blog_section{padding: 70px 0;}
 .fooetr_logo{text-align: center;margin-bottom: 30px;}
 .footer_ul{flex-direction: column;align-items: center;padding-left: 0;}
}
@media(max-width:767px){
 .banner_content h1{font-size: 35px;line-height: 45px;}   
 .banner_section{height: 500px;}
 .banner_content,.my_wrok{padding: 100px 0;}
 .blog_detail img{width: 100%;}
 .blog-info{padding-bottom: 20px;padding-top: 10px;}
}
@media(max-width:576px){
    .blog_section{padding: 50px 0;}
}